.content-header.register-patient-header {
	background-color: #ffffff;
}
.register-patient-content {
	background-color: #ffffff;
}
.patient-avatar-upload-wrapper {
	width: 250px;
	height: 250px;
	margin-top: 35px;
}
.patient-avatar-upload-wrapper {
	position: relative;
}
.patient-avatar-upload-button {
    position: absolute;
	color: #1190d2;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
}
.register-patient-action {
	margin-top: 40px;
}